<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Nhập từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Nhập từ khóa"
        name="p"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>